.content {
	background-color: $color-basewhite;
	@include mediaPC {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	@include mediaSP {
		padding-top: vwSP(150);
		padding-bottom: calc(vwSP(100) + 90px );
	}
}