.content {
	background-color: $color-basewhite;
	@include mediaPC {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	@include mediaSP {
		padding-top: vwSP(80);
		padding-bottom: calc(vwSP(80) + 70px );
		padding-left: vwSP(12);
		padding-right: vwSP(12);
	}
}