footer {
	text-align: center;
	background-color: $color-blue;
	a {
		color: $color-purewhite;
	}
	p {
		color: $color-purewhite;
	}
	@include mediaPC {
		padding-top: 120px;
		padding-bottom: 90px;
	}
	@include mediaTAB {
		padding-top: vwTAB(120);
		padding-bottom: vwTAB(100);
	}
	@include mediaSP {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0.85;
	}
	.fnav{
		display: flex;
		justify-content: center;
		@include mediaPC {
			margin-bottom: 50px;
			padding: 0em 1em;
			gap: 2.5em;
		}
		@include mediaTAB {
			margin-bottom: vwTAB(50);
		}
		@include mediaSP {
			align-items: flex-end;
			margin-top: vwSP(20);
			margin-bottom: vwSP(10);
			&.logout {
				> li {
					width: auto;
					max-width: 100%;
					font-size: vwSP(18);
					margin: vwSP(8) 0 vwSP(14);
				}
			}
			&-login {
				display: block;
				padding: 0.5em 3em;
				border-radius: 4px;
				color: $color-black;
				background-color: $color-purewhite;
			}
			&-signup {
				display: block;
				padding: 0.5em 3em;
				border-radius: 4px;
				background-color: $color-pink;
			}
		}

		li {
			@include mediaPC {
				padding: 0 2.5	em;
			}
			@include mediaTAB {
				font-size: vwTAB(16);
			}
			@include mediaSP {
				font-size: vwTAB(12);
				padding: 0 1em;
				width: 20%;
				max-width: 90px;
				a {
					> img {
						display: block;
						margin: 0 auto;
						width: 70%;
					}
				}
			}
		}

	}
	.copy {
		margin-top: 90px;
		@include mediaTAB {
			margin-top: vwTAB(90);
		}
	}
}
