header {
	background-color: $color-blue;
	display: flex;
	justify-content: center;
	align-items: center;
	a {
		color: $color-purewhite;
	}
	.inner {
		width: 100%;
		max-width: 1800px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include mediaPC {
			padding: 8px 15px 3px;
		}
		@include mediaTAB {
			padding: 0.6em 0.8em 0.3em;
		}
		@include mediaSP {
			padding: vwSP(18) vwSP(10) vwSP(12) vwSP(30);
		}
	}
	.logo {
		@include eng;
		letter-spacing: 0.1em;
		@include mediaPC {
			font-size: rem(44);
		}
		@include mediaTAB {
			font-size: vwTAB(44);
		}
		@include mediaSP {
			font-size: vwSP(50);
		}
	}

	.gnav {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		@include mediaPC {
			li {
				padding-right: 1.8em;	
				&:last-child {
					padding-right: 0;
				}
				.navBtn-login {
					margin-right: -1em;
				}
			}
		}
		@include mediaTAB {
			font-size: vwTAB(16);
		}
		// @include mediaSP {
		// 	width: vwSP(200);
		// }
	}
	@include mediaSP {
		.nav {
			display: flex;
			align-items: center;
		}
	}

	.navBtn {
		a {
			@include mediaPC {
				padding: 0.6em 2em;
				border-radius: 4px;
			}
			@include mediaSP {
				text-align: center;
				display: inline-block;
				width: vwSP(80);
				max-width: 52px;
			}
		}
		&-login {
			@include mediaPC {
				background-color: $color-purewhite;
				color: $color-black;
			}
			@include mediaSP {
				margin-right: vwSP(20);
				.navBtn-img {
					background-color: $color-purewhite;
				}
			}
		}
		&-signup {
			@include mediaPC {
				background-color: $color-pink;
			}
			@include mediaSP {
				.navBtn-img {
					background-color: $color-pink;
				}
			}
		}
		@include mediaSP {
			&-img {
				border-radius: 5px;
				display: flex;
				align-items: center;
				height: vwSP(80);
				max-height: 54px;
			}
			// &-text {
			// 	display: block;
			// 	font-size: vwSP(8);
			// }
		}
	}

	.menuWrap{
		position: relative;
		width: vwSP(70);
		height: vwSP(70);
		margin-right: vwSP(20);
		.menuBtn {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 100;
			a{
				display: inline-block;
				width: 100%;
				height: 100%;
			}
			span {
				width: 100%;
				height: 1px;
				background-color: #fff;
				position: absolute;
				transition: all 0.3s ease;
				&:first-child {
					top: 15%;
				}
				&:nth-child(2) {
					top: 50%;
					opacity: 1;
				}
				&:nth-child(3) {
					top: 85%;
				}
			}
		}
		.menuCont {
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: -10;
			opacity: 0;
			width: 100%;
			height: 100%;
			background-color: $color-blue;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: all 0.3s ease;
			li {
				margin: 2em 0;
				text-align: center;
			}
		}
		&.active {
			.menuBtn {
				span {
					&:first-child {
						transform: rotate(45deg);
						top: 55%;
					}
					&:nth-child(2) {
						opacity: 0;
					}
					&:nth-child(3) {
						transform: rotate(-45deg);
						top: 55%;
					}
				}
			}
			.menuCont {
				z-index: 10;
				opacity: 1;
			}
		}
	}
}
