header {
	background-color: $color-blue;
	display: flex;
	justify-content: center;
	align-items: center;
	a {
		color: $color-purewhite;
	}
	.inner {
		width: 100%;
		max-width: 1800px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include mediaPC {
			padding: 8px 15px 3px;
		}
		@include mediaTAB {
			padding: 0.8em 0.8em 0.4em;
		}
		@include mediaSP {
			padding: 0.8em vwSP(20) vwSP(3);
		}
	}
	.logo {
		@include eng;
		letter-spacing: 0.1em;
		@include mediaPC {
			font-size: rem(44);
		}
		@include mediaTAB {
			font-size: vwTAB(44);
		}
		@include mediaSP {
			font-size: vwSP(44);
		}
	}
	.gnav {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		@include mediaPC {
			li {
				padding-right: 1.8em;
				&:last-child {
					padding-right: 0;
				}
				.navBtn-login {
					margin-right: -1em;
				}
			}
		}
		@include mediaTAB {
			font-size: vwTAB(16);
		}
		@include mediaSP {
			width: vwSP(200);
		}
	}
	.navBtn {
		a {
			@include mediaPC {
				padding: 0.6em 2em;
				border-radius: 4px;
			}
			@include mediaSP {
				text-align: center;
				display: inline-block;
				width: vwSP(92);
				max-width: 60px;
			}
		}
		&-login {
			@include mediaPC {
				background-color: $color-purewhite;
				color: $color-black;
			}
			@include mediaSP {
				margin-right: vwSP(20);
				.navBtn-img {
					background-color: $color-purewhite;
				}
			}
		}
		&-signup {
			@include mediaPC {
				background-color: $color-pink;
			}
			@include mediaSP {
				.navBtn-img {
					background-color: $color-pink;
				}
			}
		}
		@include mediaSP {
			&-img {
				border-radius: 5px;
				display: flex;
				align-items: center;
				height: vwSP(86);
				max-height: 60px;
			}
			&-text {
				display: block;
				font-size: vwSP(8);
			}
		}
	}

		
	@include mediaSP {
		.nav {
			display: flex;
			align-items: center;
		}
	}
	.menuWrap{
		position: relative;
		width: vwSP(70);
		height: vwSP(70);
		.menuBtn {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 100;
			a{
				display: inline-block;
				width: 100%;
				height: 100%;
			}
			span {
				width: 100%;
				height: 1px;
				background-color: #fff;
				position: absolute;
				&:first-child {
					top: 10%;
					
				}
				&:nth-child(2) {
					top: 30%;
					
				}
				&:nth-child(3) {
					top: 70%;
					
				}
			}
		}
		.menuCont {
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: -10;
			opacity: 0;
			width: 100%;
			height: 100%;
			background-color: $color-blue;
			display: flex;
			justify-content: center;
			align-items: center;
			&.active {
				z-index: 10;
				opacity: 1;
			}
			li {
				margin: 2em 0;
				text-align: center;
			}
		}
	}

}

