.user {
	&Archive {
		&_list {
			display: flex;
			flex-wrap: wrap;
		}
		&_listItem {
			> a {
				display: block;
				position: relative;
			}
			&.icon {
				a {
					&::after {
						content: "new";
						display: block;
						background-color: $color-pink;
						color: $color-purewhite;
						padding: 0.6em;
						border-radius: 50%;
						text-align: center;
						position: absolute;
						top: -1em;
						right: -1em;
						font-size: rem(13);
						@include mediaSP {
							font-size: vwSP(12);
						}
					}
				}
			}
			@include mediaPC {
				width: calc((100% - 90px) / 4);
				margin-right: 30px;
				margin-bottom: 60px;
				&:nth-child(4n) {
					margin-right: 0;
				}
			}
			@include mediaTAB {
				width: calc((100% - 120px) / 3);
				margin-right: 60px;
				margin-bottom: 60px;
				&:nth-child(4n) {
					margin-right: 60px;
				}
				&:nth-child(3n) {
					margin-right: 0;
				}
			}
			@include mediaSP {
				width: calc((100% - vwSP(30)) / 2);
				margin-right: vwSP(30);
				margin-bottom: vwSP(60);
				&:nth-child(3n) {
					margin-right: vwSP(30);
				}
				&:nth-child(2n) {
					margin-right: 0;
				}
			}
			&-img {
				display: block;
				width: 100%;
				background-color: $color-lightgray;
				margin-bottom: 0.8em;
				img {
					width: 100%;
					object-fit: cover;
					@include mediaPC {
						height: 25vw;
						max-height: 290px;
					}
					@include mediaTAB {
						height: 33vw;
						max-height: 320px;
					}
					@include mediaSP {
						height: 55vw;
					}
				}
			}
			&-text {
				display: block;
				font-weight: bold;
				@include mediaSP {
					font-size: vwSP(20);
				}
			}
		}
	}

	&Detail {
		&_upper {
			display: flex;
			justify-content: space-between;
			margin-bottom: 100px;
			@include mediaSP {
				display: block;
				margin-bottom: vwSP(80);
			}
		}
		.user {
			&Img {
				@include mediaPC {
					width: 48%;
					img {
						width: 100%;
					}
				}
				@include mediaSP {
					margin-bottom: vwSP(100);
				}
				&_main {
					position: relative;
					@include mediaPC {
						margin-bottom: 50px;
					}
					@include mediaSP {
						margin-bottom: vwSP(60);
					}
					&Item {
						background-color: $color-lightgray;
						@include mediaPC {
							height: 35vw;
							max-height: 370px;
						}
						@include mediaSP {
							height: 73vw;
						}
						img {
							width: 100%;
							height: 100%;
							object-fit: contain;
						}
					}
				}
				&_thumb {
					&Item {
						background-color: $color-lightgray;
						@include mediaPC {
							height: 25vw;
							max-height: 120px;
						}
						@include mediaSP {
							height: 23vw;
						}
						img {
							width: 100%;
							height: 100%;
							object-fit: contain;
						}
					}
				}
				&_btn {
					&-next {
						display: block;
						width: 20px;
						height: 20px;
						border-top: solid 1px $color-gray;
						border-right: solid 1px $color-gray;
						transform: rotate(45deg);
						position: absolute;
						top: 50%;
						right: -1.5em;
						z-index: 100;
						@include mediaSP {
							right: -0.5em;
						}
					}
					&-prev {
						display: block;
						width: 20px;
						height: 20px;
						border-top: solid 1px #697b91;
						border-right: solid 1px #697b91;
						transform: rotate(225deg);
						position: absolute;
						top: 50%;
						left: -1.5em;
						z-index: 100;
						@include mediaSP {
							left: -0.5em;
						}
					}
				}
			}
			&Info {
				@include mediaPC {
					width: 48%;
				}
				&_heading {
					@include mediaPC {
						margin-bottom: 60px;
					}
					@include mediaSP {
						margin-bottom: vwSP(50);
					}
					&::after {
						content: "";
						display: block;
						width: 100%;
						height: 2px;
						background-color: $color-gray;
						margin-top: 1em;
					}
					&Inner {
						display: flex;
						justify-content: space-between;
						align-items: center;
						flex-wrap: wrap;
					}
					&Wrap {
						display: flex;
						align-items: center;
						flex-wrap: wrap;
					}
					&Title {
						font-weight: bold;
						padding-left: 0.5em;
						padding-right: 0.5em;
						@include mediaPC {
							font-size: rem(20);
						}
						@include mediaSP {
							font-size: vwSP(28);
						}
						&Sub {
							@include mediaPC {
								font-size: rem(13);
								padding-right: 0.5em;
							}
							@include mediaSP {
								font-size: vwSP(13);
							}
						}
					}
					&Btn {
						margin-left: auto;
						a {
							display: inline-block;
							color: $color-purewhite;
							background-color: $color-pink;
							font-size: rem(13);
							padding: 0.3em 0.6em;
							border-radius: 5px;
							@include mediaSP {
								font-size: vwSP(15);
							}
						}
						&.active {
							a {
								background-color: $color-gray;
							}
						}
					}
				}
				&_cont {
					border-bottom: 1px dotted $color-gray;
					padding-left: 1em;
					padding-right: 1em;
					padding-bottom: 2.5em;
					margin-bottom: 3em;
					@include mediaSP {
						padding-left: 0.5em;
						padding-right: 0.5em;
						padding-bottom: 1.2em;
						margin-bottom: 1.8em;
					}
					&:last-child {
						border-bottom: none;
						margin-bottom: 0;
					}
					&Title {
						font-weight: bold;
						margin-bottom: 1.2em;
						@include mediaPC {
							font-size: rem(18);
						}
						@include mediaSP {
							font-size: vwSP(20);
						}
					}
					&Text {
						@include mediaPC {
							font-size: rem(16);
						}
						@include mediaSP {
							font-size: vwSP(16);
						}
					}
					&List {
						font-weight: bold;
						span {
							+ span {
								margin-left: 1em;
							}
						}
						li {
							display: flex;
							margin-bottom: 0.8em;
							&:last-child {
								margin-bottom: 0;
							}
						}
						@include mediaPC {
							font-size: rem(18);
						}
						@include mediaSP {
							font-size: vwSP(20);
						}
					}
					&Data {
						display: flex;
						align-items: center;
						margin-bottom: 1.2em;
						&:last-child {
							margin-bottom: 0;
						}
						@include mediaPC {
							font-size: rem(18);
						}
						@include mediaSP {
							font-size: vwSP(20);
						}
						dt {
							font-weight: bold;
							width: 8em;
							@include mediaSP {
								width: 10em;
							}
						}
						dd {
							width: calc(100% - 8em);
							display: flex;
							align-items: center;
							flex-wrap: wrap;
							gap: 1em;
						}
						.btn {
							a {
								display: inline-block;
								color: $color-purewhite;
								background-color: $color-pink;
								font-size: rem(13);
								padding: 0.4em 1.2em;
								border-radius: 5px;
								@include mediaSP {
									font-size: vwSP(15);
								}
							}
						}
					}
				}
			}
			&Diary {
				&_heading {
					@include mediaPC {
						margin-bottom: 60px;
					}
					@include mediaSP {
						margin-bottom: vwSP(60);
					}
					&::after {
						content: "";
						display: block;
						width: 100%;
						height: 1px;
						background-color: $color-gray;
						margin-top: 0.6em;
					}
					&Inner {
						display: flex;
						justify-content: space-between;
						align-items: center;
						flex-wrap: wrap;
					}
					&Title {
						font-weight: bold;
						padding-left: 0.5em;
						padding-right: 0.5em;
						@include mediaPC {
							font-size: rem(20);
						}
						@include mediaSP {
							font-size: vwSP(28);
						}
					}
					&Btn {
						margin-right: 0.5em;
						a {
							display: inline-block;
							color: $color-purewhite;
							background-color: $color-blue;
							font-size: rem(14);
							padding: 0.4em 1em;
							border-radius: 5px;
							@include mediaSP {
								font-size: vwSP(15);
							}
						}
					}
				}
				&_cont {
					position: relative;

					&::after {
						content: "";
						display: block;
						width: 100%;
						height: 1px;
						background-color: $color-gray;
						@include mediaPC {
							margin-top: 60px;
						}
						@include mediaSP {
							margin-top: vwSP(80);
						}
					}
				}
				&_item {
					display: flex;
					align-items: flex-start;
					flex-wrap: wrap;
					@include mediaSP {
						flex-direction: column;
						font-size: vwSP(15);
					}
					span {
						display: inline-block;
					}
					&Wrap {
						padding-left: 1em;
						padding-right: 1em;
						margin-bottom: 2.8em;
						@include mediaSP {
							margin-bottom: 2.2em;
						}
						&:last-child {
							margin-bottom: 0;
						}
					}
					&Date {
						width: 10em;
						@include mediaSP {
							width: 100%;
							margin-bottom: 0.5em;
						}
					}
					&Title {
						width: calc(100% - 10em);
						@include mediaSP {
							width: 100%;
						}
					}
				}
				&_link {
					position: absolute;
					right: 0;
					bottom: 1em;
					@include mediaSP {
						font-size: vwSP(15);
					}
				}
			}
		}
	}
}